body {
  font-family: Noto Serif, Georgia, serif;
}
div.sphinxsidebar {
    height: 100vh;
    overflow: auto;
}
div.sphinxsidebar hr {
    width: 100%;
}
/* div.sphinxsidebar ul { */
/*     margin: 0 0 !important; */
/* } */
div.sphinxsidebar a.current.reference.internal {
    font-weight: bold;
    /* display: none; */
}
div.sphinxsidebar li.toctree-l1 {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}
div.sphinxsidebar li.toctree-l1 ul {
    font-weight: normal;
    /* list-style-type: none; /\* Remove bullets *\/ */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    margin-bottom: 10px;
    margin-left: 18px;
}
pre {
    padding: 7px 15px;
}
pre, tt, code {
  font-size: 0.9em;
}
div.admonition code {
    background: #c9dbe8;
    /* color: #60a0b0; */
}
div.body h4, div.body h5, div.body h6 {
    margin: 10px 0px 10px 0px;
}
div.body h3 {
    margin: 20px 0px 10px 0px;
}
div.admonition {
    padding: 10px 15px;
}
div.note {
    background-color: #0e84b51c;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%
}
div.highlight-none pre {
    background-color: rgb(255, 255, 255);
    color: #7B8591;
    padding: 0px 15px;
}
@media screen and (max-width: 870px) {
div.sphinxsidebar {
    height: auto;
}
}
div.body h2 {
  padding-bottom: 4px;
  border-bottom: 1px solid rgb(151, 157, 164);
}
div.sphinxsidebarwrapper p.blurb {
  margin-bottom: 20px;
}
.highlight .si, .highlight .c1  {
  font-style: normal !important;
}
div.sphinxsidebar {
    max-height: 100%;
    overflow-y: auto;
}
